@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Lato|Liu+Jian+Mao+Cao&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/estilo.css">
    <title>Document</title>
</head>
<body>
    <div class="titulo">
        <p>
            Card Detailes <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-credit-card-2-front-fill" viewBox="0 0 16 16">
                <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2.5 1a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h2a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-2zm0 3a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zm0 2a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1zm3 0a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1zm3 0a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1zm3 0a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1z" />
            </svg>
        </p>
    </div>
    <div class="container">
        @if (ViewBag.Error == 1)
        {
            <h2 style="stop-color:red">Datos de la Tarjeta Incorrectos</h2>
        }
        <form action="/Usuario/CTarjeta" method="post" class="card">
            <div class="grupo">
                <label for="">Card Number</label>
                <input Name="Tarjeta" type="text" placeholder="##### #### #### ####" required>
            </div>

            <div class="grupo">
                <label for="inputNombre">Name</label>
                <input type="text" Name="Nombre" maxlength="19" autocomplete="off" required>
            </div>

            <div class="flexbox">
                <div class="grupo expira">
                    <label for="">Expiration Date</label>
                    <div class="flexbox">
                        <div class="grupo-select">
                            <select name="mes" id="Mes" required>
                                <option value="">Month</option>
                                <option value="1">01</option>
                                <option value="2">02</option>
                                <option value="3">03</option>
                                <option value="4">04</option>
                                <option value="5">05</option>
                                <option value="6">06</option>
                                <option value="7">07</option>
                                <option value="8">08</option>
                                <option value="9">09</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                            </select>
                        </div>

                        <div class="grupo-select">
                            <select name="year" id="Year" required>
                                <option selected>Year</option>
                                <option value="2021">2021</option>
                                <option value="2022">2022</option>
                                <option value="2023">2023</option>
                                <option value="2024">2024</option>
                                <option value="2025">2025</option>
                                <option value="2026">2026</option>
                                <option value="2027">2027</option>
                                <option value="2028">2028</option>
                                <option value="2029">2029</option>
                                <option value="2030">2030</option>
                            </select>

                        </div>

                    </div>

                </div>

                <div class="grupo ccv">
                    <label for="inputCCV">CVV</label>
                    <input type="text" name="Pepe" maxlength="3" required>
                </div>
            </div>

            <br>
            <button type="submit" class="btn-enviar">
                Send <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send" viewBox="0 0 16 16">
                    <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576 6.636 10.07Zm6.787-8.201L1.591 6.602l4.339 2.76 7.494-7.493Z" />
                </svg>
            </button>
        </form>
        <a href="/Usuario/Terminos">Terminos y condiciones</a>
    </div>


</body>
</html>

