<form action="/Usuario/Direccion" method="post">
    <input type="text" name="Departamento" class="form__input" placeholder="Departamento" required>
    <br />
    <br />
    <input type="text" name="Localidad" class="form__input" placeholder="Localidad" required>
    <br />
    <br />
    <input type="number" name="CP" class="form__input" placeholder="Codigo Postal" required>
    <br />
    <br />
    <input type="submit" class="form__button" value="Registrar direccion">
</form>