<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terminos  y Condiciones</title>
</head>
<body>

    <h1>Terminos y Condiciones de Lofi_Spot</h1>

    <p>
        CONDICIONES

        Revise detenidamente los siguientes términos y políticas, ya que son los términos de venta que rigen sus compras en Lofi_Spot (en lo sucesivo,Lofi_Spot). Establecen sus derechos y obligaciones con respecto a sus compras, incluidas limitaciones y exclusiones importantes. La realización de un pedido en Lofi_Spot constituye su acuerdo de que estas políticas se aplican al pedido, así que asegúrese de entenderlas antes de realizar su pedido.



        Acuerdo de Términos de Uso LEA ESTOS TÉRMINOS Y CONDICIONES CUIDADOSAMENTE. Este Acuerdo de Términos de Uso (el "Acuerdo") describe los términos y condiciones aplicables a su uso del sitio web Lofi_Spot que se identifica mediante el localizador uniforme de recursos Lofi_Spot (el "Sitio").

        Este Acuerdo se firma entre usted como usuario del Sitio (el "Usuario") y el propietario del Sitio ("Lofi_Spot").

    <p>
        1. Aplicación y aceptación de los Términos y Condiciones. 1.1 A los efectos de este Acuerdo, un "Usuario" es cualquier persona que accede al Sitio para cualquier propósito, independientemente de si dicho Usuario se ha registrado en el Sitio como Usuario registrado o si dicho Usuario es un cliente que paga por un servicio específico proporcionado por Lofi_Spot o cualquiera de sus afiliados.
        Un Usuario incluye a la persona que utiliza este Sitio y cualquier entidad legal que pueda ser representada por dicha persona bajo autoridad real o aparente.

        1.2 Al acceder o utilizar el Sitio, usted acepta los términos y condiciones establecidos en este Acuerdo como Usuario. Usted estará obligado por los términos y condiciones de este Acuerdo con respecto a su acceso o uso de este Sitio y cualquier actualización, modificación, adición o cambio adicional a este Sitio. Si no acepta todos los términos y condiciones de este Acuerdo, no utilice este Sitio.

        1.3 Lofi_Spot pueden modificar este Acuerdo en cualquier momento mediante la publicación del Acuerdo enmendado y reformulado en el Sitio. El Acuerdo modificado y reformulado entrará en vigor inmediatamente después de su publicación. La publicación por parte de Lofi_Spot del Acuerdo enmendado y reformulado y su uso continuado del Sitio se considerarán como aceptación de los términos modificados. Este Acuerdo no puede ser modificado de otra manera, excepto por escrito por un funcionario autorizado de Lofi_Spot.
        Lofi_Spot pueden lanzar, cambiar, actualizar, imponer condiciones, suspender o detener cualquier Servicio (o cualquier característica dentro de los Servicios) sin previo aviso, excepto que en el caso de un Servicio basado en tarifas, dichos cambios no afectarán sustancialmente negativamente a los Usuarios que pagan al disfrutar de ese Servicio.

        1.4 Cuando visita Lofi_Spot o envía solicitudes de clientes (Por medio de un correo electrónico) a Lofi_Spot, se está comunicando con Lofi_Spot electrónicamente. Usted acepta recibir comunicaciones de Lofi_Spot electrónicamente.
        Lofi_Spot  se comunicará con usted por correo electrónico o mediante la publicación de avisos en este sitio.
        1.5 No puede utilizar los Servicios y no puede aceptar los Términos si (a) no tiene la edad legal para formar un contrato vinculante con Lofi_Spot, o (b) no se le permite recibir ningún Servicio en virtud de las leyes de EL Salvador u otros países / regiones, incluido el país / región en el que reside o desde el que utiliza los Servicios.
    </p>
    <p>
        2. Usuarios en general. 2.1 El Usuario debe estar registrado en el Sitio para acceder o utilizar algunos Servicios.
        Excepto con la aprobación de Lofi_Spot, un Usuario solo puede registrar una cuenta de miembro en el Sitio. Lofi_Spot puede cancelar  la cuenta de miembro de un Usuario si Lofi_Spot tiene razones para sospechar que el Usuario ha registrado o controlado simultáneamente dos o más cuentas de miembro. Además,Lofi_Spot puede rechazar la solicitud de registro del Usuario por cualquier motivo.

        2.2 Los usuarios pueden utilizar este Sitio únicamente para sus propios fines personales o internos. Cada Usuario acepta que no copiará, reproducirá ni descargará ninguna información, texto, imágenes, videoclips, directorios, archivos, bases de datos o listados disponibles en o a través del Sitio (el "Contenido Lofi_Spot") con el fin de reverer o redistribuirse el Contenido Lofi_Spot, correo masivo (a través de correos electrónicos, mensajes de texto inalámbricos, correo físico o de otro modo), operar un negocio que compita con Lofi_Spot, o explotar comercialmente el contenido Lofi_Spot. Se prohíbe la recuperación sistemática de Lofi_Spot Contenido de este Sitio para crear o compilar, directa o indirectamente, una colección, compilación, base de datos o directorio (ya sea a través de robots, arañas, dispositivos automáticos o procesos manuales) sin el permiso por escrito de Lofi_Spot. Además, el uso del contenido o materiales para cualquier propósito no permitido expresamente en este Acuerdo está prohibido.

        2.3 Parte del Contenido de Lofi_Spot que se muestra en este Sitio es proporcionado o publicado por terceros ("Contenido de Terceros"). Lofi_Spot no es el autor de Contenido de Terceros, ya sea aportado por usuarios anónimos o usuarios registrados. Cualquier Contenido de Terceros es responsabilidad exclusiva de la parte que proporcionó el contenido. Lofi_Spot no es responsable de la exactitud, propiedad, legalidad o veracidad de ningún Contenido de Terceros, y no será responsable ante ningún Usuario en relación con la confianza de dicho Usuario en dicho Contenido de Terceros. Además, Lofi_Spot no es responsable de la realización de las actividades de ningún Usuario en el Sitio, y no será responsable ante ninguna persona en relación con ningún daño sufrido por ninguna persona como resultado de la conducta de dicho Usuario.

        2.4 Lofi_Spot puede permitir a los Usuarios el acceso a contenidos, productos o servicios ofrecidos por terceros a través de hipervínculos (en forma de enlace de palabras, banners, canales o de otro tipo) al sitio web de dicho Tercero. Se le advierte que lea los términos y condiciones y / o las políticas de privacidad de dichos sitios antes de usar dichos sitios para conocer los términos y condiciones de su uso de dichos sitios. El usuario reconoce que Lofi_Spot no tiene control sobre el sitio web de dicho tercero, no supervisa dichos sitios y Lofi_Spot no será responsable ante nadie por dicho sitio web, o cualquier contenido, productos o servicios disponibles en dicho sitio web.

        2.5 Lofi_Spot se reserva el derecho de limitar, denegar o crear un acceso diferente al Sitio y sus características con respecto a diferentes Usuarios, o de cambiar cualquiera de las características o introducir nuevas características sin previo aviso. Cada Usuario reconoce que la incapacidad de utilizar el Sitio total o parcialmente por cualquier razón puede tener efectos adversos en su negocio. Cada Usuario acepta que en ningún caso Lofi_Spot será responsable ante el Usuario o cualquier tercero por cualquier incapacidad de usar el Sitio (ya sea debido a interrupción, acceso limitado, cambios o terminación de cualquier característica en el Sitio o de otra manera), cualquier retraso, inexactitud, error u omisión con respecto a cualquier comunicación o transmisión, o cualquier daño (directo, indirecto, consecuente o de otro tipo) que surja del uso o la incapacidad de usar el Sitio o cualquiera de sus características.
        2.6 Ningún Usuario emprenderá ningún esquema para socavar la integridad de los sistemas informáticos o redes utilizadas por Lofi_Spot y / o cualquier otro Usuario y ningún Usuario intentará obtener acceso no autorizado a dichos sistemas o redes informáticas.


        2.7 Le instamos a que lea la Política de privacidad de Lofi_Spot que rige la protección y el uso de la información de cada Usuario en posesión de Lofi_Spot y / o sus afiliados. Cada Usuario acepta la Política de Privacidad y cualquier actualización y enmienda a la misma. Cada Usuario reconoce queLofi_Spot puede cambiar la Política de Privacidad de vez en cuando, siempre que Lofi_Spotde datos, pondrá a disposición la versión actualizada de la Política de Privacidad en el Sitio en todo momento. Su continuación del uso del Sitio se considerará como su aceptación de la Política de Privacidad que luego se muestra en el Sitio en el momento de dicho uso.

        2.8 Como condición de su acceso y uso de Lofi_Spot, usted acepta que no utilizará el servicio Lofi_Spot para infringir los derechos de propiedad intelectual u otros derechos legítimos de otros de ninguna manera. Lofi_Spot y / o sus afiliados en circunstancias apropiadas terminarán las cuentas de los Usuarios que son infractores reincidentes de los derechos de autor, u otros derechos de propiedad intelectual, u otros derechos legítimos de terceros. Además, Lofi_Spot y / o sus afiliados se reserva el derecho de cancelar la cuenta de un usuario en caso de cualquier infracción de los derechos de otros junto con el uso del servicio Lofi_Spot, o si Lofi_Spot cree que la conducta del Usuario es perjudicial para los intereses de Lofi_Spot, sus afiliados u otros usuarios, o por cualquier otra razón a la entera discreción deLofi_Spot, con o sin causa.

    </p>
    <p>
        3. Usuarios registrados 3.1 Cada Usuario que ha completado y enviado un formulario de registro en línea en el Sitio o fuera de línea al proporcionar su información (como nombre, dirección, número de teléfono y fax, dirección de correo electrónico, detalles de su negocio, etc.) a Lofi_Spot u otra empresa del grupo Lofi_Spot que proporciona los servicios específicos relevantes es un usuario registrado del Sitio (un "Usuario registrado").
        Se establecerá una cuenta ("Cuenta") para cada Usuario Registrado y a cada Usuario Registrado se le asignará un alias de usuario ("ID de Usuario") y una contraseña ("Contraseña") para el acceso de inicio de sesión a su propia Cuenta.

        3.2 Si el Usuario Registrado es una entidad comercial, usted declara que (a) tiene la autoridad para vincular a la entidad a este Acuerdo; (b) la dirección que utiliza al registrarse es el lugar principal de negocios de dicha entidad comercial; y (c) toda la demás información enviada a Lofi_Spot y sus afiliados durante el proceso de registro es verdadera, precisa, actual y completa. A los efectos de esta disposición, una sucursal u oficina de representación no se considerará una entidad separada y su lugar principal de negocios se considerará el de su oficina central.

        3.3 Al convertirse en Usuario Registrado, usted acepta la inclusión de sus datos personales en nuestra Base de Datos de Compradores. DX puede enviarle correos electrónicos o contactarlo de otra manera a través de sus datos personales con cualquier información que DX desee transmitirle.

        3.4 Lofi_Spot o sus afiliados pueden suspender o cancelar la Cuenta de un Usuario Registrado en cualquier momento dando un aviso de no menos de 24 horas al Usuario Registrado; sin embargo, ese aviso no es necesario para dicha terminación si (a) en Lofi_Spot determinación, hay algún incumplimiento de las disposiciones de este Acuerdo por parte del Usuario Registrado, o (b) Lofi_Spot tenga motivos razonables para sospechar que cualquier información proporcionada por un Usuario Registrado es falsa, inexacta o no está actualizada o completa, o (c) Lofi_Spot cree que las acciones del Usuario Registrado pueden causar pérdidas financieras o responsabilidad legal a dicho Usuario Registrado.

        3.5 Un Usuario Registrado no puede vender, intentar vender, ofrecer vender, dar, asignar o transferir de otra manera una Cuenta, ID de Usuario o Contraseña a un tercero sin el consentimiento previo por escrito de Lofi_Spot. Lofi_Spot puede suspender o cancelar la Cuenta de un Usuario Registrado o el cesionario de un Usuario Registrado en caso de una venta, ofrecer vender, regalar, ceder o transferir en violación de esta Sección.
        3.6 No obstante lo dispuesto en la Sección 3.1 anterior, Lofi_Spot pueden denegar el registro y denegar la emisión de una Cuenta y el ID de Usuario y contraseña asociados a cualquier Usuario por cualquier motivo.

    </p>
    <p>

        4. Relación entre Compradores, Lofi_Spot y Proveedores 4.1 Lofi_Spot es un agente en línea para todos los Compradores, que recoge las órdenes de compra de los Compradores, para reforzar su ventaja de negociación de precios frente a los Proveedores.
        Actúa en nombre de los Compradores para comprar los productos designados por los Compradores. A través del Sitio, Lofi_Spot proporciona una plataforma electrónica basada en la web para mostrar la información de los productos y otros términos y condiciones comunes de las transacciones proporcionadas por los Proveedores. Se recomienda a cualquier Lofi_Spot que esté interesado en publicar sus productos en el Sitio que se comunique con nuestro agente de promoción de acuerdo con el siguiente contacto: http://Lofi_Spot

        4.2 A pesar de la provisión de la plataforma a través del Sitio,Lofi_Spot no representa al Proveedor en transacciones específicas a través del Sitio. No se crea ninguna relación de agencia de ventas entre ningún Proveedor y Lofi_Spot, nuestros afiliados, directores, funcionarios o empleados en virtud de la exhibición de Lofi_Spot de cualquiera de los productos suministrados por Lofi_Spot. El contrato de venta se celebró entre el Comprador y el Proveedor.

        4.3 Por la presente, se informa a los usuarios de que puede haber riesgos de tratar con personas que actúan bajo falsos pretextos. Lofi_Spot tiene sistemas muy estrictos en la selección de proveedores confiables. Lofi_Spot no puede controlar y no es responsable de la disponibilidad de los productos o servicios ofrecidos a la venta que se muestran en el Sitio. Por lo tanto, Lofi_Spot no garantiza ni puede garantizar a los Compradores que las órdenes de compra realizadas a través del Sitio se cumplirán eventualmente y hay situaciones en las que los Proveedores pueden haber dejado de proporcionar dichos productos o proporcionar dichos productos a un precio diferente en el que se encuentra el pago pagado por el Comprador a nuestra Cuenta Bancaria (PayPal, Tarjeta de crédito u otro método de pago que el Comprador haya utilizado para pagar) se devolverá a los Compradores o se ajustará de la manera aceptable para los Compradores.

        4.4 Los riesgos de las transacciones de compra al utilizar el Sitio para realizar transacciones incluirán la tergiversación de productos y servicios, esquemas fraudulentos, calidad insatisfactoria, incumplimiento de especificaciones, productos defectuosos o peligrosos, retraso o incumplimiento en la entrega, errores de cálculo de costos y accidentes de transporte. Todos los riesgos anteriores se denominan en lo sucesivo "Riesgos de transacción". Todos los artículos comprados a Lofi_Spot se realizan de conformidad con un contrato de envío. Esto significa que el riesgo de pérdida y la titularidad de dichos artículos pasan al usuario en el momento de nuestra entrega al transportista. Pero cuando el usuario envíe los problemas que puedan surgir como resultado o en relación con los riesgos de transacción en el sitio web, ayudaremos al usuario a resolver el problema a su debido tiempo según

        el requisito del usuario 4.5 Los usuarios son los únicos responsables de todos los términos y condiciones de las transacciones realizadas en, a través o como resultado del uso del Sitio, incluyendo, sin limitación, devoluciones, garantías, envío, seguros, tarifas, impuestos, título, licencias, multas, permisos, manejo, transporte y almacenamiento. En caso de que los términos y condiciones de las Transacciones hayan sido cambiados y dicho cambio sea notificado a Lofi_Spot por algunos Proveedores específicos, Lofi_Spot publicará dichos términos de condiciones modificados en el Sitio. La mera obligación de Lofi_Spot es mostrar dichos términos y condiciones de las transacciones sujetas a modificación por parte de los Proveedores de vez en cuando. Puede haber situaciones en las que los Compradores hayan realizado pedidos mientras se cambian los términos y condiciones de las transacciones. Lofi_Spot según las instrucciones del Lofi_Spot, se comunicará con usted para obtener instrucciones antes del envío o cancelará su pedido y le notificará dicha cancelación.

        4.6 Salvo que se indique lo contrario, el Precio de Lista que se muestra para los productos en el Sitio representa el precio sugerido por el proveedor. El precio de lista es una estimación comparativa de precios y puede o no representar el precio prevaleciente en cada área en un día en particular. Con respecto a los artículos vendidos en el Sitio, Lofi_Spot no puede confirmar el precio de un artículo hasta que usted haga el pedido. A pesar de nuestros mejores esfuerzos, un pequeño número de los artículos en el catálogo pueden tener un precio erróneo. Si el precio correcto de un artículo es más alto que el precio indicado, Lofi_Spot, según las instrucciones del Lofi_Spot, cancelará su pedido, le notificará dicha cancelación y le hará la compensación necesaria después de una consulta amistosa con usted.
        4.7 En el caso de que cualquier Usuario tenga una disputa con cualquiera de las partes en una transacción, dicho Usuario acepta liberar e indemnizar a Lofi_Spot (y a nuestros agentes, afiliados, directores, funcionarios y empleados) de todas las reclamaciones, demandas, acciones, procedimientos, costos, gastos y daños (incluidos, entre otros, cualquier daño real, especial, incidental o consecuente) que surja de o en conexión con dicha transacción.

    </p>
    <p>

        5. Política de protección de los derechos de propiedad intelectual (DPI) 5.1 Lofi_Spot respeta los derechos de propiedad intelectual de otros, y esperamos que nuestros usuarios hagan lo mismo.
        El uso no autorizado de los materiales y marcas comerciales de otra parte se trata severamente en nuestro sitio web.

        5.2 Lofi_Spot solicitará a cada Lofi_Spot que se asegure de que la lista de falsificaciones, réplicas sin licencia o productos no autorizados, como prendas de diseño falsificadas, relojes, bolsos, gafas de sol u otros accesorios, esté estrictamente prohibida en Lofi_Spot, y no se pueda mostrar ningún producto en Lofi_Spot sin el permiso explícito del titular del derecho de propiedad intelectual. Los productos de marca pueden exhibirse en Lofi_Spot si el propietario de la marca ha emitido un certificado de autorización.

        5.3 Las violaciones repetidas de nuestra política de DPI pueden dar lugar a una serie de acciones, incluida la eliminación de listados. Las siguientes acciones se utilizan como elemento disuasorio contra la infracción de los DPI:

        Revisión y eliminación voluntarias de anuncios que parecen ofrecer réplicas falsificadas, sin licencia o artículos no autorizados
        Eliminación inmediata de los listados cuando el titular de la marca comercial presenta una reclamación por infracción de propiedad intelectual contra cualquier Lofi_Spot que sea el proveedor de dichos productos enumerados;
        Notificación por escrito con las razones apropiadas dadas a Lofi_Spot a quienes se les retira su(s) producto(s) en Lofi_Spot por sospecha de infringir los DPI de otros
        Notificación por escrito a Lofi_Spot cuyos productos se alega que infringen los DPI de otros. Las partes involucradas tendrán las mismas oportunidades de responder a tales cargos.
        Terminación, cuando corresponda, de los listados de los Lofi_Spot que sean reincidentes
        Con millones de usuarios operando en Lofi_Spot cada día, esperamos que todos y cada uno de los Lofi_Spot se comporten de manera responsable.
        Solicitamos a aquellos que afirman reclamos de infracción que respalden sus reclamos.
        Al enviar un informe de presunta infracción a Lofi_Spot, usted acepta indemnizar a Lofi_Spot contra reclamaciones o daños que surjan de la eliminación del anuncio.
        5.4 Cómo denunciar una presunta infracción de DPI a Lofi_Spot:

        Si cree de buena fe que un anuncio en el Sitio infringe sus derechos de autor, marca registrada, patente u otros derechos de propiedad intelectual, puede completar el Formulario de notificación de infracción de DPI reclamados de Lofi_Spot Haga clic aquí y envíelo por correo electrónico (Lofi_Spot@gmail.com) a Lofi_Spot. El Aviso completado debe identificar específicamente el Lofi_Spot y todos y cada uno de los enlaces que se alega que infringen sus derechos. El reclamante debe cargar los siguientes materiales como anexo para la verificación de la calificación:
        prueba de derechos
        De acuerdo con los derechos afirmados, sírvase proporcionar pruebas de derechos, como el certificado de registro de patentes, el certificado de registro de marcas y el certificado de registro de derechos de autor, etc. (nota: se debe proporcionar un certificado de registro de los derechos de propiedad intelectual; el asesoramiento / reconocimiento de la solicitud es una prueba de derechos insuficiente)

        prueba de identificación
        Individual: Tarjeta de identificación, pasaporte y otros documentos

        de prueba de identificación Empresa: licencia comercial y otros documentos de registro industrial y comercial

        prueba de autorización del titular de los derechos
        Si el reclamante no es el titular de los derechos, debe presentar una autorización o un certificado de agencia debidamente firmado o sellado por el titular de los derechos.

        Al recibir el Aviso mencionado anteriormente y otra información, evaluaremos de inmediato su queja y, en los casos en que sea apropiado, eliminaremos rápidamente la lista a la que se hace referencia en su reclamo.
        Notificaremos al Lofi_Spot por escrito de la eliminación de la lista de productos infractores reclamados y proporcionaremos al Lofi_Spot su información de contacto para que elLofi_Spot pueda contactarlo directamente y con la oportunidad de responder.
        Si el Lofi_Spot se opone a la eliminación de la supuesta lista de productos infractores, el Lofi_Spot puede enviarnos una contranotición apropiada para disputar la reclamación. Al recibir dicha contranotoncia, podemos reanudar la lista de Lofi_Spot a menos que recibamos una notificación de usted de que se ha presentado una acción contra el miembro en un tribunal de jurisdicción competente por infracción de sus derechos de propiedad intelectual.
        Si necesita enviarnos documentos en papel, envíe los productos relacionados y los documentos en papel a la siguiente dirección:EL Salvardor.sv que Lofi_Spot pueda recibirlos y eliminarlos a tiempo. Tenga en cuenta que esta es la única dirección legal en Lofi_Spot que se ocupa de la infracción de productos.

    </p>
    <p>
        6. Limitación de responsabilidad

        6.1 En la medida máxima permitida por la ley, las características y servicios en el sitio se proporcionan "tal cual" y "según disponibilidad", y Lofi_Spot por la presente renuncia expresamente a todas y cada una de las garantías, expresas o implícitas, incluidas, entre otras, las garantías de condición, calidad, durabilidad, rendimiento, precisión, confiabilidad, comerciabilidad o idoneidad para un propósito particular. Todas estas garantías, representaciones, condiciones, compromisos y términos quedan excluidos.

        6.2 EN LA MEDIDA MÁXIMA PERMITIDA POR LA LEY, Lofi_Spot NO HACE REPRESENTACIONES O GARANTÍAS SOBRE LA VALIDEZ, EXACTITUD, CORRECCIÓN, CONFIABILIDAD, CALIDAD, ESTABILIDAD, INTEGRIDAD O ACTUALIDAD DE CUALQUIER INFORMACIÓN PROPORCIONADA EN O A TRAVÉS DEL SITIO, Lofi_Spot NO REPRESENTA NI GARANTIZA QUE LA FABRICACIÓN, IMPORTACIÓN, EXPORTACIÓN, DISTRIBUCIÓN, OFERTA, EXHIBICIÓN, COMPRA, VENTA Y / O USO DE PRODUCTOS O SERVICIOS OFRECIDOS O MOSTRADOS EN EL SITIO NO VIOLE A NINGÚN TERCERO DERECHOS DE LAS PARTES; Y Lofi_Spot NO HACE NINGUNA REPRESENTACIÓN O GARANTÍA DE NINGÚN TIPO CON RESPECTO A NINGÚN PRODUCTO O SERVICIO OFRECIDO O MOSTRADO EN EL SITIO.

        6.3 Cualquier material descargado u obtenido de otra manera a través del Sitio se realiza a la entera discreción y riesgo de cada Usuario y cada Usuario es el único responsable de cualquier daño a su sistema informático o pérdida de datos que resulte de la descarga de dicho material. Ningún consejo o información, ya sea oral o escrita, obtenida por cualquier Usuario de Lofi_Spot o a través o desde el Sitio creará ninguna garantía que no esté expresamente establecida en este documento.

        6.4 Bajo ninguna circunstancia Lofi_Spot será responsable de ningún retraso o falla o interrupción del contenido o servicios entregados a través del Sitio que resulte directa o indirectamente de actos de la naturaleza, fuerzas o causas más allá de su control razonable, incluidos, entre otros, fallas de Internet, computadoras, telecomunicaciones o cualquier otra falla de equipo, fallas de energía eléctrica, huelgas, disputas laborales, disturbios, insurrecciones, disturbios civiles, escasez de mano de obra o materiales, incendios, inundaciones, tormentas, explosiones, actos de Dios, guerra, acciones gubernamentales, órdenes de cortes o tribunales nacionales o extranjeros o incumplimiento de terceros.

        6.5 Por la presente, cada Usuario acepta indemnizar y eximir de responsabilidad a Lofi_Spot, sus afiliados, directores, funcionarios y empleados, de todas y cada una de las pérdidas, reclamaciones, responsabilidades (incluidos los costos legales sobre una base de indemnización completa) que puedan surgir del uso del Sitio por parte de dicho Usuario (incluidos, entre otros, la visualización de la información de dicho Usuario en el Sitio) o de su incumplimiento de cualquiera de los términos y condiciones de este Acuerdo. Por la presente, cada Usuario acepta indemnizar y eximir de responsabilidad a Lofi_Spot, sus afiliados, directores, funcionarios y empleados, de todas y cada una de las pérdidas, reclamaciones, responsabilidades (incluidos los costos legales sobre una base de indemnización completa) que puedan surgir del incumplimiento por parte del Usuario de cualquier representación y garantía hecha por el Usuario a Lofi_Spot. Por la presente, cada Usuario acepta indemnizar y eximir de responsabilidad a
        Lofi_Spot, sus afiliados, directores, funcionarios y empleados, de todas y cada una de las pérdidas, reclamaciones, responsabilidades (incluidos los costos legales sobre una base de indemnización completa) que puedan surgir, directa o indirectamente, como resultado de cualquier reclamo afirmado por reclamantes de Derechos de Terceros u otros terceros relacionados con los productos ofrecidos o mostrados en el Sitio. Cada Usuario acepta además que Lofi_Spot no es responsable y no tendrá ninguna responsabilidad ante él, por cualquier material publicado por otros; incluyendo material difamatorio, ofensivo o ilícito y que el riesgo de daños de dicho material recae enteramente en cada Usuario. DX.com se reserva el derecho, a su propio costo, de asumir la defensa y el control exclusivos de cualquier asunto sujeto a indemnización por su parte, en cuyo caso deberá cooperar con Lofi_Spot para hacer valer cualquier defensa disponible. 6.6 Lofi_Spot no será responsable de ningún daño especial, directo, indirecto, punitivo, incidental o consecuente o cualquier daño de cualquier tipo (incluidos, entre otros, daños por pérdida de ganancias o ahorros, interrupción del negocio, pérdida de información), ya sea por contrato, negligencia, agravio o de otro tipo o cualquier otro daño resultante de cualquiera de los siguientes:


        el uso o la imposibilidad de usar el Sitio;
        cualquier defecto en bienes, muestras, datos, información o servicios comprados u obtenidos de un Usuario o un proveedor de servicios externo a través del Sitio;
        violación de los Derechos de Terceros o reclamos o demandas de que la fabricación, importación, exportación, distribución, oferta, exhibición, compra, venta y/ o uso de productos o servicios ofrecidos o mostrados en el Sitio por parte de los Usuarios puede violar o puede afirmarse que viola los Derechos de Terceros; o reclamos de cualquier parte de que tienen derecho a defensa o indemnización en relación con afirmaciones de derechos, demandas o reclamos por parte de reclamantes de Derechos de Terceros;
        acceso no autorizado por parte de terceros a datos o información privada de cualquier Usuario;
        declaraciones o conducta de cualquier Usuario del Sitio; o
        cualquier asunto relacionado con los Servicios Premium, sin embargo, surja, incluida la negligencia.
        6.7 Sin perjuicio de cualquiera de las disposiciones anteriores, la responsabilidad total de Lofi_Spot, sus empleados, agentes, afiliados, representantes o cualquier persona que actúe en su nombre con respecto a cada Usuario por todas las reclamaciones que surjan del uso del Sitio o del servicio Lofi_Spot se limitará al mayor de (a) el monto de las tarifas que el Usuario paga aLofi_Spot o sus afiliados en el período de 12 meses anterior a la acción que da lugar a la responsabilidad. y b) 100 dólares de Hong Kong. La frase anterior no impedirá la obligación por parte del Usuario de probar los daños reales. Todas las reclamaciones que surjan del uso del Sitio o del servicio Lofi_Spot deben presentarse dentro de un (1) año a partir de la fecha en que surgió la causa de la acción.

    </p>

    <p>

        Política de devolución de almacenes de El Salvador.sv

        1.Devolución del artículo defectuoso

        1) Si el producto es defectuoso, puede ser devuelto dentro de los 15 días posteriores a la entrega. Al ser devuelto, el artículo defectuoso será reembolsado o reemplazado de forma gratuita. Nota para devoluciones: Si la tarifa de envío de devolución es inferior al 15% del valor del artículo defectuoso (s), y también menos de $ 20 (USD), cubriremos el franqueo real (de acuerdo con el recibo que proporcionó). Si la tarifa de envío de devolución excede el límite anterior, comuníquese con nuestro departamento de CS para obtener más confirmación. 2) Después de 15 días y dentro de los 180 días posteriores a la
        entrega: Al ser devuelto, el artículo defectuoso será reemplazado o reembolsado.
        Los gastos de envío de devolución serán responsabilidad exclusiva del cliente. 3) Después de 180 días y dentro de los 365 días posteriores a la entrega:
        Al ser devuelto, el artículo defectuoso se enviará a la fábrica para su reparación.
        El costo de envío en ambos sentidos será responsabilidad del cliente. 4) Después de 365 días desde la entrega:
        El reembolso o reemplazo de cualquier artículo será rechazado después de que haya expirado el período de 365 días.

        5) Antes de devolver el producto defectuoso, por favor proporciónenos de inmediato la prueba de la siguiente manera:

        Fotos del paquete Lofi_Spot original, incluidos el frente, la parte posterior y los lados
        Fotos o videos de los artículos defectuosos
        Fotos, videos o capturas de pantalla que muestran el mal funcionamiento de los artículos defectuosos
        6) Después de devolver el producto defectuoso, por favor proporciónenos de inmediato la prueba de la siguiente manera:

        Fotos del frente y la parte posterior del sobre o caja de embalaje de devolución
        Recibo de envío de devolución (incluido el número de seguimiento)
        2.Devolución del artículo incorrecto recibido:

        1) Si el artículo que recibió es completamente diferente del que ordenó, contáctenos a través de nuestro Servicio de Atención al Cliente Express dentro de los 15 días. Somos responsables de la tarifa de envío y el cliente puede solicitar el reenvio o reembolso. 2) Si el artículo que recibió es completamente diferente del que ordenó, contáctenos a través de nuestro Servicio al Cliente Express y proporcione una imagen que demuestre el error.
        3) Si la devolución es necesaria, se le emitirá el reemplazo más el reembolso de los costos de envío al recibir la documentación de la prueba de devolución.
        Asegúrese de que el artículo incorrecto que devuelve está en el embalaje original y la mercancía está en las mismas condiciones en las que se recibió. Nota para devoluciones: Si la tarifa de envío de devolución es inferior al 15% del valor del artículo defectuoso (s), y también menos de $ 20 (USD), cubriremos el franqueo real (de acuerdo con el recibo que proporcionó).
        Si la tarifa de envío de devolución excede el límite anterior, comuníquese con nuestro departamento de CS para obtener más confirmación. 4) Para un artículo incorrecto, si puede encontrar un uso para él y prefiere conservarlo, puede sugerirnos eso y le ofreceremos un cierto descuento por conservarlo.
        Después de recibir el producto incorrecto, por favor proporciónenos de inmediato la prueba de la siguiente manera:

        Fotos o vídeo de los elementos incorrectos

        5) Después de devolver el producto defectuoso, por favor proporciónenos de inmediato la prueba de la siguiente manera:

        Fotos del frente y la parte posterior del sobre o caja de embalaje de devolución
        Recibo de envío de devolución (incluido el número de seguimiento)
        Debido a que los fabricantes suministran diferentes lotes de los productos, el logotipo del artículo o el embalaje que recibió puede variar del que se muestra en nuestro sitio web. Si todas las funciones y la apariencia del producto resultan ser correctas, comprenda que este caso no se incluirá en esta política.

    </p>
    <p>
        .Devolución del producto insatisfactorio:

        Si se devuelve dentro de los 15 días, los clientes serán responsables de los gastos de envío.
        Si no está satisfecho por cualquier motivo con su compra, puede devolverla dentro de los 15 días posteriores a su recepción para obtener un reembolso completo o un cambio. Si la devolución no es el resultado de nuestro error, los clientes deberán cubrir los gastos de envío en ambos sentidos. Además, asegúrese de que el artículo que se nos devuelve está en el embalaje original con la mercancía en las mismas condiciones que se recibió.

        4.Todos los clientes deben ponerse en contacto con Customer Service Express antes de devolver cualquier artículo (s) / producto (s).

        Caja de entrega para devolución



        Todos los clientes deben ponerse en contacto con nosotros a través de Customer Service Express(mailto:lofispots@gmail.com)antes de devolver cualquier artículo(s). Lofi_Spot no será responsable de los artículos devueltos sin notificarnos con anticipación. Al ponerse en contacto con DX, incluya la siguiente información
        Fotos de la parte delantera y trasera del sobre o caja de embalaje
        Boletas de envío parciales (si corresponde)
        Foto, video, captura de pantalla o descripción del artículo defectuoso
        Foto, video, captura de pantalla o descripción del defecto o área defectuosa
        Conserve todo el material de embalaje y las notas de envío parciales, ya que son necesarias para las devoluciones. Después de enviar los productos por correo, asegúrese de proporcionarnos el número de seguimiento del paquete devuelto, si no hay un número de seguimiento disponible, es necesaria una imagen del recibo de envío. Si ninguno de ellos se puede proporcionar, es posible que tengamos que retrasar el procesamiento para usted hasta que el paquete llegue a nuestro almacén, lo que puede tardar de uno a dos meses, tenga en cuenta.
        Recibirá el reembolso del pago a través del mismo método de pago que pagó (excluida la tarjeta de regalo) o lo obtendrá a través del crédito de Lofi_Spot Store. El crédito de la tienda siempre es por el precio de reembolso completo sin cargos adicionales y no tiene límites de tiempo.
        Si es posible, asegúrese de haber comprobado el contenido del paquete antes de firmarlo. En caso de daños o vacío, por favor rehúse aceptarlo y póngase en contacto con nosotros. Una vez que firme por el artículo, está firmando la aceptación de la integridad de todos los productos tal como están y NO PUEDE refutar los cargos por el paquete vacío.
        Tenga en cuenta que nuestra dirección de devolución es la dirección de la caja de entrega, nadie estará allí para firmar los paquetes. Por lo tanto, no utilice la forma expresa (EMS, UPS, FedEx, TNT, DHL, etc.) para devolver los paquetes que generalmente necesitan la firma de un receptor. O de lo contrario, se le devolverá.
        Utilice la forma más barata de enviar los artículos de vuelta. Los servicios de mensajería como EMS, UPS, FedEx, TNT, DHL, etc. NO son elegibles para reembolsos de costos de envío de devolución.
        Por favor, recuerde incluir una nota en su paquete indicando los siguientes detalles:
        su número de pedido;
        Números de SKU devueltos y cantidad;
        Una breve descripción de los problemas de los artículos defectuosos. Esta nota le ayudará a acelerar el tiempo de procesamiento.
        Lofi_Spot se reserva el derecho de realizar cambios y/o mejoras a esta política. Cualquier cambio se actualizará en el foro / Página de política / sección de AYUDA para mantener informados a los clientes.
        Si hay más preguntas, póngase en contacto con nuestro Servicio de Atención al Cliente Express para obtener más información.
        Nota al pie

        * Si su producto está muerto a su llegada y el paquete tarda más (más de 30 días) en llegar a usted, póngase en contacto con nosotros y ofrezca la prueba disponible de la fecha de entrega dentro de los 5 días, luego procesaremos por usted de acuerdo con la política. ** Durante la temporada alta (como Navidad) y los días festivos (incluidos los retrasos imprevistos) se extenderá el período de garantía: consulte el foro para ver si hay retrasos conocidos.
    
        CopyRight:
        Derechos Reservados: Lofi_Sopt
    </p>
    <a class="btn btn-success" href="/Producto/ProductoCarrusel">Salir</a>
    </p>
</body>
</html>
