<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/Inicio.css">
    <title>Productos </title>
</head>

<body>
    <style>
        .span__galery__div {
            padding-top: 20px;
            height: 18%;
            background-color: rgba(255, 241, 215, 0.637);
            text-align: center;
        }
        .galery__imgAll {
            height: 80%;
            width: 100%;
        }

        .menu__others {
            display: flex;
            align-items: center;
            height: 100%;
        }

        .menu__user {
            background-image: url(/assets/user.svg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            height: 40px;
            width: 40px;
        }

        .menu__item__user {
            list-style: none;
            position: relative;
            height: 100%;
            --clip: polygon(0 0, 100% 0, 100% 0, 0 0);
            --transform: rotate(-90deg);
            z-index: 20;
            display: flex;
            align-items: center;
        }

            .menu__item__user:hover {
                --clip: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
                --transform: rotate(0);
            }

        .menu__nesting__user {
            background-color: rgba(6, 0, 58, 0.8);
            list-style: none;
            transition: clip-path .3s;
            clip-path: var(--clip);
            position: absolute;
            right: 0;
            bottom: 0;
            width: 250px;
            transform: translateY(100%);
        }

        .menu__link__user {
            text-decoration: none;
            padding: 0 30px;
            display: flex;
            height: 100%;
            align-items: center;
            color: white;
        }

        .menu__link__user--inside {
            /*padding: 30px 40px 30px 40px;*/
            padding: 25px 40px;
            background-color: rgba(4, 0, 37, 0.438);
        }

            .menu__link__user--inside:hover {
                background-color: rgba(45, 48, 68, .8);
            }

        .menu__link__nameusu {
            text-decoration: none;
            padding: 0 30px;
            display: flex;
            height: 100%;
            align-items: center;
            color: white;
        }

        .menu__link__nameusu--inside {
            /*padding: 30px 40px 30px 40px;*/
            padding: 25px 40px;
            background-color: rgba(6, 0, 58, 0.438);
        }

        .separador__nombreusu {
            height: 1px;
            margin: 10px 0;
        }
    </style>
    <header>
        <div class="main__cont" id="inicio">
            <nav class="menu">
                <section class="menu__container">

                    <ul class="menu__links">
                        <li class="menu__logo"><img class="menu__logo__img" style="height: 90%; width: 100px;" src="/img/LofiSpot (1).png" alt=""></li>

                        <li class="menu__item">
                            <a href="#" class="menu__link">Contact</a>
                        </li>

                        <li class="menu__item">
                            <a href="/Producto/ProductoCarrusel" class="menu__link">Ver productos</a>
                        </li>
                    </ul>

                    <div class="menu__others">
                        <div class="menu__item__user">
                            <div class="menu__user"></div>

                            <ul class="menu__nesting__user">
                                @if (ViewBag.usercount != 0)
                                    {
                                        @foreach (var item in ViewBag.user)
                                        {
                                <li class="menu__inside__user">
                                    <div href="#" class="menu__link__nameusu menu__link__nameusu--inside">@item.Nick</div>
                                </li>
                                <li class="separador__nombreusu"></li>
                                <li class="menu__inside__user">
                                    <a href="/Usuario/CerrarSesion" class="menu__link__nameusu menu__link__nameusu--inside">Cerrar Sesion</a>
                                </li>
                                }
                                    }
                                    else
                                    {
                                <li class="menu__inside">
                                    <a href="/Usuario/Login" class="menu__link__user menu__link__user--inside">Login</a>
                                </li>
                                }
                            </ul>
                        </div>

                    </div>
                </section>
            </nav>
        </div>
    </header>

    <div class="separador1"></div>
    <div class="bienvenida">
        <h1 class="bienvenida__h1">Bienvenido a LofiSpot</h1>
    </div>
    <div class="separador1"></div>

    <div class="slider">
        <ul>
            <li><img src="/img/to-buy-3692440_1280.jpg"></li>
            <li><img src="/img/woman-3040029_1280.jpg"></li>
            <li><img src="/img/online-keyboard.jpg"></li>
            <li><img src="/img/shopping-4000414_1280.jpg"></li>
        </ul>
    </div>
    <div class="separadorSliderGalery"></div>

    <div class="galery">
        @foreach (var item in ViewBag.producto)
        {
            <div class="cont__galery">
                <img src="@item.Imagenes" class="galery__img1 galery__imgAll" />
                <div class="span__galery__div">
                    <span class="span__galery">@item.Producto</span>
                </div>
            </div>
        }
    </div>

    <div class="separadorGaleryContent"></div>
    <div class="content__container">
        <div class="content__info content__info1 ">
            <div class="info1__img"></div>
        </div>
        <div class="content__info content__info2">

            <span class="span__infoH">Novedades</span>
            @foreach (var item in ViewBag.categorias)
            {
                <div class="content__info__conSpan">
                    <img src="/img/identidad-de-la-marca.png" class="span__icon">
                    <span class="span__info2">@item.Categoria</span>
                </div>

            }
        </div>
    </div>

    <div class="separadorContentFooter"></div>
    <footer>
        <div class="footer__link">
            <a href="#inicio" class="footer__inicio">Inicio de página</a>
        </div>
        <div class="footer__container">
            <div class="separador__contact"></div>
            <span class="footer__Contact">Contacto</span>
            <div class="separador__contact"></div>
            <span class="footer__span"><a href="mailto:lofispots@gmail.com" class="footer__a">LofiSpots@gmail.com</a></span>
            <div class="separador__contact"></div>
            <span class="footer__span">7645-2343</span>
            <div class="separador__contact"></div>
            <div class="footer__SocialNetwork">
                <a href="https://www.facebook.com/profile.php?id=100074944750786" target="_blank"><img src="./img/facebook.png" class="footer__icon"></a>

                <a href="mailto:lofispots@gmail.com"><img src="./img/gmail-logo.png" class="footer__icon"></a>
            </div>
            <div class="separador__contact"></div>
        </div>
         <a href="/Usuario/Terminos">Terminos y condiciones</a>
    </footer>

</body>

